<a href="https://colab.research.google.com/github/musfiqur552608/Research-Practice/blob/master/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/iris.csv')

In [ ]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [ ]:
df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
df2 = pd.read_csv('gdrive/My Drive/Colab Notebooks/ogidl.csv')

In [ ]:
df2.head(10)

             Timestamp  ...  Do you have any of the following problems?(আপনার নিচে কোন সমস্যা গুলো আছে?)
0  10/18/2020 11:17:45  ...  Headache, Eye problems, Eating problem, Losing...
1  10/18/2020 11:20:08  ...                                              Other
2  10/18/2020 11:21:46  ...                                         No problem
3  10/18/2020 11:21:48  ...                                         No problem
4  10/18/2020 11:22:00  ...                             Headache, Eye problems
5  10/18/2020 11:26:35  ...                                           Headache
6  10/18/2020 11:29:07  ...  Headache, Eye problems, Eating problem, Losing...
7  10/18/2020 11:29:47  ...  Headache, Eye problems, Lack of sleep, Losing ...
8  10/18/2020 11:39:14  ...        Headache, Lack of sleep, Losing mood easily
9  10/18/2020 11:47:16  ...                                         No problem

[10 rows x 13 columns]

In [ ]:
df2.tail(10)

               Timestamp  ...  Do you have any of the following problems?(আপনার নিচে কোন সমস্যা গুলো আছে?)
158  10/22/2020 15:32:42  ...                                 Losing mood easily
159   10/23/2020 1:53:45  ...                                         No problem
160   10/23/2020 5:57:55  ...                                           Headache
161   10/23/2020 9:28:07  ...                   Eye problems, Losing mood easily
162   10/23/2020 9:51:32  ...                                         No problem
163  10/23/2020 11:24:47  ...                       Headache, Losing mood easily
164  10/23/2020 12:05:30  ...              Headache, Eye problems, Lack of sleep
165  10/23/2020 12:17:51  ...                                 Losing mood easily
166  10/23/2020 13:23:44  ...                  Lack of sleep, Losing mood easily
167  10/23/2020 22:13:51  ...  Eating problem, Lack of sleep, Losing mood easily

[10 rows x 13 columns]

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
df2.isnull().sum()

Timestamp                                                                                                                  0
 Your Age?(আপনার বয়স?)                                                                                                     0
Gender?(লিঙ্গ?)                                                                                                            0
Study /Job?(চাকুরি  / পড়াশোনা?)                                                                                            0
Are you addicted with many games platform?(আপনি অনেক গেমস প্ল্যাটফর্মের সাথে আসক্ত?)                                       0
How many years have you played online games?(কত বছর ধরে আপনি অনলাইন গেইম খেলেন?)                                           0
How much time do you spend on online games daily?(আপনি দৈনিক কত সময় অনলাইন গেইমে ব্যয় করেন?)                               0
How much time do you spend online daily? (আপনি দৈনিক কত সময় অনলাইনে ব্যয় করেন?)(e.g: Facebook, Instagram, Youtube, etc)    0
How much time do you spend studying?(আপনি কত সময় পড়াশোনায় ব্যয় করেন? )                                                     0
How much time do you spend sleeping?(আপনি কত সময় ঘুমে ব্যয় করেন?)                                                          0
How much time do you spend with family?(আপনি কত সময় পরিবারের সাথে ব্যয় করেন? )                                             0
How much time do you spend with friends?(আপনি কত সময় বন্ধুদের সাথে ব্যয় করেন?)                                             0
Do you have any of the following problems?(আপনার নিচে কোন সমস্যা গুলো আছে?)                                                0
dtype: int64

In [ ]:
 y = df['species']
 x = df.drop('species', axis=1)

In [ ]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
55            5.7          2.8           4.5          1.3
127           6.1          3.0           4.9          1.8
35            5.0          3.2           1.2          0.2
98            5.1          2.5           3.0          1.1
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
16            5.4          3.9           1.3          0.4
15            5.7          4.4           1.5          0.4
17            5.1          3.5           1.4          0.3
88            5.6          3.0           4.1          1.3
135           7.7          3.0           6.1          2.3

[120 rows x 4 columns]

In [ ]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
113           5.7          2.5           5.0          2.0
51            6.4          3.2           4.5          1.5
126           6.2          2.8           4.8          1.8
76            6.8          2.8           4.8          1.4
112           6.8          3.0           5.5          2.1
79            5.7          2.6           3.5          1.0
147           6.5          3.0           5.2          2.0
132           6.4          2.8           5.6          2.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
37            4.9          3.1           1.5          0.1
94            5.6          2.7           4.2          1.3
111           6.4          2.7           5.3          1.9
83            6.0          2.7           5.1          1.6
84            5.4          3.0           4.5          1.5
117           7.7          3.8           6.7          2.2
97            6.2          2.9           4.3          1.3
109           7.2          3.6           6.1          2.5
11            4.8          3.4           1.6          0.2
121           5.6          2.8           4.9          2.0
139           6.9          3.1           5.4          2.1
104           6.5          3.0           5.8          2.2
141           6.9          3.1           5.1          2.3
107           7.3          2.9           6.3          1.8
116           6.5          3.0           5.5          1.8
122           7.7          2.8           6.7          2.0
40            5.0          3.5           1.3          0.3
131           7.9          3.8           6.4          2.0
23            5.1          3.3           1.7          0.5
77            6.7          3.0           5.0          1.7

In [ ]:
y_test

113     virginica
51     versicolor
126     virginica
76     versicolor
112     virginica
79     versicolor
147     virginica
132     virginica
12         setosa
13         setosa
37         setosa
94     versicolor
111     virginica
83     versicolor
84     versicolor
117     virginica
97     versicolor
109     virginica
11         setosa
121     virginica
139     virginica
104     virginica
141     virginica
107     virginica
116     virginica
122     virginica
40         setosa
131     virginica
23         setosa
77     versicolor
Name: species, dtype: object

In [ ]:
y_train

55     versicolor
127     virginica
35         setosa
98     versicolor
29         setosa
          ...
16         setosa
15         setosa
17         setosa
88     versicolor
135     virginica
Name: species, Length: 120, dtype: object

In [ ]:
l = LabelEncoder()

In [ ]:
l = LabelEncoder()
y_train = l.fit_transform(y_train)

In [ ]:
clf = LinearRegression()
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train

array([1, 2, 0, 1, 0, 0, 1, 1, 0, 2, 1, 1, 2, 0, 2, 2, 1, 0, 1, 2, 0, 1,
       1, 2, 2, 1, 2, 2, 0, 1, 2, 1, 1, 0, 0, 0, 2, 1, 0, 1, 0, 2, 0, 2,
       0, 1, 1, 0, 0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 1, 2, 2, 1, 1, 1, 0, 2,
       1, 1, 0, 0, 2, 2, 1, 0, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 2, 2, 0, 2,
       0, 1, 2, 0, 0, 2, 0, 0, 2, 1, 0, 1, 2, 2, 2, 0, 2, 0, 1, 0, 1, 2,
       2, 0, 1, 0, 1, 0, 0, 0, 1, 2])

In [ ]:
clf.score(x_train,y_train)

0.9286662022628939

In [ ]:
y_test = l.transform(y_test)
clf.score(x_test,y_test)

0.9342684705852438

In [ ]:
clf.predict([[5.3,3.7,1.6,0.1]])

array([-0.11343324])

In [ ]:
lo = LogisticRegression()
lo.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
lo.score(x_train,y_train)

0.9833333333333333

In [ ]:
lo.score(x_test,y_test)

0.9333333333333333

In [ ]:
 lo.predict([[6.7,3.1,5.6,2.4]])

array([2])